<div class="years">
  <div class="digits">
    <span>0</span>
    <span>0</span>
  </div>
  <div class="label"></div>
</div>
<div class="months">
  <div class="digits">
    <span>0</span>
    <span>0</span>
  </div>
  <div class="label"></div>
</div>
<div class="weeks">
  <div class="digits">
    <span>0</span>
    <span>0</span>
  </div>
  <div class="label"></div>
</div>
<div class="days">
  <div class="digits">
    <span>0</span>
    <span>0</span>
  </div>
  <div class="label"></div>
</div>
<div class="hours">
  <div class="digits">
    <span>0</span>
    <span>0</span>
  </div>
  <div class="label"></div>
</div>
<div class="minutes">
  <div class="digits">
    <span>0</span>
    <span>0</span>
  </div>
  <div class="label"></div>
</div>
<div class="seconds">
  <div class="digits">
    <span>0</span>
    <span>0</span>
  </div>
  <div class="label"></div>
</div>
